.button {
	-fx-background-color: #00bbff;
	-fx-background-radius: 0;
	-fx-font-size: 16px;
	-fx-text-fill: white;
}

.button:hover {
	-fx-background-color: #1fc3ff;
}

.button:pressed {
	-fx-background-color: #00a2de;
}