GridPane {
	-fx-alignment: center;
}

#companyHeader, #loggedInAsHeader, #orderHeader, #serviceHeader, #customerHeader, #employeeHeader, #otherHeader {
	-fx-font-size: 25px;
}

#lineChart .chart-series-line {
	-fx-stroke: black;
}

.chart-bar {
    -fx-bar-fill: #1c1729; 
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-title 
{
    -fx-font-family: "Aeial";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}


.chart-legend-item 
{
    -fx-font-size: 16px;
}

#informationHeader {
	-fx-font-size: 25px;
}

#informationText {
	-fx-text-align: center;
}